<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trọng Tần web</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-6.3.0/css/all.min.css' %}">
    
</head>
<body>

        <div class="total_form">
            {% block content %}

            {% endblock  %}
        </div>
        <script src="{% static 'js/js_login.js' %}"></script>
    <!-- 10:27 -->
</body>
</html>