{% extends 'common_user/layout.html' %}
{% block content %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tên</th>
                            <th>Thông tin sản phẩm</th>
                            <th>Tổng tiền</th>
                            <th>Điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        
                    {% for i in ls %}
                        <tr>
                            <td class="align-middle"><img src="img/product-4.jpg" alt="" style="width: 50px;">{{i.ten}}</td>
                            <td class="align-middle">{{i.thongtinsanpham}}</td>
                            <td class="align-middle">{{i.tongtien}}</td>
                            <td class="align-middle">{{i.dienthoai}}</td>
                            <td class="align-middle">{{i.email}}</td>
                            <td class="align-middle">{{i.diachi}} đ</td>
                            <td class="align-middle"><a href="/deleteDsDatHang/{{i.id}}" onclick="return confirm('Bạn có chắc muốn bỏ  ?');" class="delete-button btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->

{% endblock  %}