{% extends 'common_user/layout.html' %}
{% block content %}   
{% include 'common_user/home/Carousel_index.html' %}
{% include 'common_user/home/Category_index.html' %}
    
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Các sản phẩm phổ biến</span></h2>
        <div class="row px-xl-5">
            {% for l in list %}
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">{% load static %}
                                <img class="img-fluid w-100" src="/ADMIN/media/{{l.anh}}" alt="ảnh sản phẩm" style="width:280px; height:320px;">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/AddCart/{{l.id_ao}}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/detail/{{l.id_ao}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="/detail/{{l.id_ao}}">
                                    {% if l.ten_ao|length > 23 %}
                                    {{l.ten_ao|slice:"0:24"}}...
                                    {% else %}
                                    {{l.ten_ao}}
                                    {% endif %}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>${{ l.giatien|floatformat:"3" }}</h5><h6 class="text-muted ml-2">SL: {{l.soluong}} <del></del></h6>
                                    {% for j in list_aotemp %}
                                        {% if j.id_ao == l.id_ao %}
                                            <i class="fas fa-shopping-cart" style="color:green;"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            
            
        </div>
    </div>
    <!-- Products End -->

    {% include 'common_user/home/Offer_index.html' %}

    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Các sản phẩm giảm giá</span></h2>
        <div class="row px-xl-5">
            {% for i in list %}
                {% if i.sale_price > 0 %}
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/ADMIN/media/{{i.anh}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/AddCart/{{i.id_ao}}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/detail/{{i.id_ao}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="/detail/{{i.id_ao}}">
                                    {% if i.ten_ao|length > 23 %}
                                    {{i.ten_ao|slice:"0:24"}}...
                                    {% else %}
                                    {{i.ten_ao}}
                                    {% endif %}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{ i.giatien|floatformat:"3" }} </h5><h6 class="text-muted ml-2"><del>{{i.giatien}}</del></h6>
                                    {% for j in list_aotemp %}
                                        {% if j.id_ao == i.id_ao %}
                                            <i class="fas fa-shopping-cart" style="color:green;"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->


{% endblock  %}