 {% load static %}
 <!-- Categories Start -->
 <div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        
        {% for i in list_loai_quanlity %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/TimKemTheoLoai/{{i.0}}">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="{% static 'img/mdel.jpg' %}" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>{{i.1}}</h6>
                            <small class="text-body"> Tổng {{i.2}} sản phẩm</small>
                        </div>
                    </div>
                </a>
            </div> 
        {% endfor %}
    </div>
</div>
<!-- Categories End -->